<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <!--Sidebar content-->

      <p>
        Search:
        <input title="filterSearch" ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select title="filter" ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>

      <div class="col-md-7">
      <div class="row">
          <div ng-repeat="door in $ctrl.doors | filter:$ctrl.query | orderBy:$ctrl.orderProp">
              <div class="clearfix" ng-if="$index % 3 == 0"></div>
              <div class="col-sm-4">
                  <a href="#/doors/{{door.id}}" class="thumb">
                  <img class="imageThumb" ng-src="{{ door.image }}">
                  </a>
                  <b class="name">{{door.name}}</b><br>
                  <b class="desc">{{door.description}}</b>
              </div>
          </div>
      </div>
      </div>

  </div>
</div>