html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url('images/11.jpg');
    padding-top: 20px;
    color: whitesmoke;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
}

div .phonesCells  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 10px;
}

#nav {
    width: 100%;
    text-align: center;
    position: fixed;
    background: rgba(123, 0, 2, 0.78);
    border-color: transparent;
    padding: 15px;
}

#nav span a {
    color: #F89E11;
    padding-right: 20px;
    text-decoration: none;
}

.leftBar {
    float: left;
}

.leftBar a {
    text-decoration: none;
    color: #F8F8F8;
}

.leftBar a:hover {
    color: #FF0000;
}

.rightBar {
    float: right;
}

.container-fluid {
    padding-top: 50px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #F89E11;
    background-color: rgba(123, 0, 2, 0.78);
    text-align: center;
}

.page-wrap:after {
    content: "";
    display: block;
    min-height: 100%;
}

.footer .page-wrap:after {
    height: 10px;
}

.page-wrap {
    min-height: 92%;
    margin-bottom: -10px;
}

.col-sm-4 {
    color: white;
    margin-bottom: 20px;
    padding-top: 10px;
    background-color: rgba(123, 0, 2, 0.78);
    min-height: 270px;
    border: 1px solid whitesmoke;
}

.imageThumb {  max-height: 200px;  }

.imageThumb2 {
    padding: 2px;
    height: 150px;
    width: 250px;
}

.name {
    font-size: large;
    color: #F89E11;
    padding-top: 15px;
    padding-left: 10px;
}

.desc {
    color: whitesmoke;
    font-size: small;
    padding-bottom: 10px;
    padding-left: 10px;
}
p {
    color: whitesmoke;
}

.col-md-7 {
    width: 70%;
}

#loginGreet {
    text-align: center;
    padding-top: 10px;
    color: #eea236;
}

.well {
    background-color: black;
    margin-top: 150px;
    text-align: center;
    color: #eea236;
}

.form-control {
    background-color: black;
    color: #eea236;
}

.doorId {
    margin-top: 50px;
    margin-left: 100px;
}

#logoutButton {
    background-color: transparent;
    border-color: transparent;
}

#aboutUsText { color: #eea236; }

.titleText { text-align: center; font-size: 30px }

.container-fluid {
    padding-top: 80px;
}

.col-md-7 {
    padding-left: 100px;
}

.postBody {
    border: 1px solid rgba(123, 0, 2, 0.78);
    background-color: rgba(123, 0, 2, 0.2);
    min-width: 100px;
}

.postTable {
    min-width: 100%;
}

.pagination li a {
    background-color: black;
    border: 1px solid black;
    color: #eea236;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus .pagination > li > a, .pagination > li > span, .pagination li a:hover, .pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
    color: black;
    background-color: #eea236;
    border-color: #eea236;
}

input[type="file"] {
    display: none;
}

.col-md-3 {
    padding-left: 50px;
}

.searchBar {
    padding-top: 50px;
}