<div class="navbar navbar-default navbar-fixed-top" id="nav">
    <span class="leftBar">
        <a href="#!/">UA</a>
        <a href="#!/">EN</a>
    </span>

    <span class="central">
        <a href="#!/aboutUs">ABOUT US</a>
        <a href="#!/doors">CATALOG</a>
        <a href="#!/blog">BLOG</a>
        <a href="#!/contactUs">CONTACT US</a>
    </span>

    <span class="rightBar">
        <a href="#!/login">Login</a>
        <a href="#!/register">Register</a>
        <a><strong>User</strong></a>
        <button id="logoutButton" ng-click="doUserLogout()">Logout</button>
    </span>
</div>
